.hudHeader {
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0,255,204,0.15);
  border-radius: 12px;
  position: fixed;
  width: 90%;
  z-index: 1000;

  overflow: hidden; /* important for dropdown */
}
.hudHeader * {
  z-index: 2;
}
.hamburger {
  position: absolute;
  z-index: 1200;
  cursor: pointer;
}
.navLink,
.hamburger {
  position: relative;
  z-index: 2;
}
.navLink {
  z-index: 1050;
}
.hudHeader::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    90deg,
    transparent,
    rgba(48, 249, 22, 0.159),
    transparent
  );

  transform: translateX(-100%);
  animation: hudScan 5s linear infinite;

  pointer-events: none;
  z-index: 0;
}

.navList a {
  font-family: Anta, sans-serif;
  font-size: 1.1rem;
  text-decoration: none;

  color: rgba(224,225,221,0.75);

  transition: all 0.25s ease;
}
.navList a:hover {
  color: #2efa00;
  text-shadow:
    0 0 10px rgba(120, 255, 75, 0.6),
    0 0 20px rgba(107, 255, 53, 0.3);

  transform: translateY(-2px);
}

.activeLink {
  color: #37fa41 !important;
  text-shadow:
    0 0 10px rgba(120, 255, 75, 0.6),
    0 0 25px rgba(107, 255, 53, 0.3);

  letter-spacing: 2px;

  transform: translateY(-2px);
}
.hamburger {
  display: none;
  z-index: 1100;

}

@keyframes hudScan {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.navList a:hover {
  color: #6cfc3c;
  text-shadow: 0 0 10px rgb(57, 244, 66);
  letter-spacing: 2px;
  filter: drop-shadow(0 0 6px rgba(51, 248, 37, 0.565));
}


@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

/* Tablet (max-width: 1024px) */
@media screen and (max-width: 1024px) and (min-width: 769px) {
    header {
        padding: 2%;
    }

    .logo {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .navLink {
        gap: 8px;
    }

    .navLink a {
        font-size: 1.25rem;
    }
}



@media (max-width: 768px) {
  .myHeader{
    background: transparent;
    border: none;
    backdrop-filter: none;
    box-shadow: none;
  }
  .hudHeader{
    background: transparent;
    border: none;
    backdrop-filter: none;
    box-shadow: none;
    overflow: visible;
  }
   .hudHeader::before {
    display: none;
    
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    z-index: 1200;
  }

  .navLink {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;

    background: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);

    max-height: 0;
    opacity: 0;
    pointer-events: none;

    transition: all 0.3s ease;
    z-index: 1050;
  }

  .navLink.active {
    max-height: 300px;
    opacity: 1;
    pointer-events: auto;
  }

  .navList {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
  }
}